.layout{
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar{
    width: 100%;
}

.navbar{
    background-color: aqua;
    width: 30%;
    height: 30vh;
}

.content{
    background-color: blueviolet;
    width: 70%;
    height: 30vh;
}